.roadmap-header {
  position: relative;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.roadmap-content {
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  display: inline-block;
}

.roadmap-header h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: transparent;
}

.progress-wrapper {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: 10px;
  gap: 10px;
}

.progress-text {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-align: left;
  font-style: italic;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 5px;
}
.projects-button {
  padding: 5px; 
  border: 1px solid #000;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
 
}

.back-button svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

.generate-roadmap {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 90px; 
}
 
 .generate-roadmap::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1E201E;
  left: 0;
  top: 0;
  border-radius: 8px;
 }
 .generate-roadmap::before {
  content: "";
  background: linear-gradient(
     45deg,
     #FF0000, #002BFF, #FF00C8, #002BFF,
       #FF0000, #002BFF, #FF00C8, #002BFF
 );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
 }
 

 
 .generate-roadmap:hover::before {
  opacity: 1;
 }
 

 .button-group {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  z-index: 1;
}

.bookmark-button {
  padding: 3px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-pdf {
  padding: 3px; 
  border: 1px solid #000;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-pdf svg {
  width: 24px;
  height: 24px;
  transition: fill 0.3s;
  fill: #000;

}


.download-pdf:hover {
  background-color: #000;
}

.download-pdf:hover svg {
  fill: #fff; 
}

.bookmark-button svg {
  width: 24px;
  height: 24px;
  transition: fill 0.3s;
  fill: #000;
}

.bookmark-button:hover {
  background-color: #000;
}

.bookmark-button:hover svg {
  fill: #fff;
}

.bookmark-button.bookmarked {
  background-color: #000;
}

.bookmark-button.bookmarked svg {
  fill: #fff;
}

@media (max-width: 768px) {
  .roadmap-content {
    padding-top: 60px;
  }

  .roadmap-header h1 {
    font-size: 1rem;
  }

  .generate-roadmap {
    right: 90px;
  }

  .button-group {
    right: 5px;
  }
}