/* Homepage Styles */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 2rem;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
      )
      0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
      #282828;
  background-size: 40px 60px;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  background: linear-gradient(90deg, #ff69b4, #ff9900, #ffc107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.hero p {
  font-size: 1.25rem;
  color: #e0e0e0;
  margin: 1.5rem 0;
  line-height: 1.6;
}



.btn-primary {
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  margin-right: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.cta {
  padding: 6rem 2rem;
  text-align: center;
  background: radial-gradient(
    circle farthest-side at 0% 50%,
    #282828 23.5%,
    rgba(255, 170, 0, 0) 0
  )
  21px 30px,
radial-gradient(
    circle farthest-side at 0% 50%,
    #2c3539 24%,
    rgba(240, 166, 17, 0) 0
  )
  19px 30px,
linear-gradient(
    #282828 14%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 85%,
    #282828 0
  )
  0 0,
linear-gradient(
    150deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(
    30deg,
    #282828 24%,
    #2c3539 0,
    #2c3539 26%,
    rgba(240, 166, 17, 0) 0,
    rgba(240, 166, 17, 0) 74%,
    #2c3539 0,
    #2c3539 76%,
    #282828 0
  )
  0 0,
linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
  #282828;
background-size: 40px 60px;
  color: #fff;
}

.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.cta p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #e0e0e0;
}

