.tech-fields {
    padding: 4rem 2rem;
    text-align: center;
 
  }
  
  .tech-fields h2 {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tech-card {
    background-color: #31363F;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    cursor: pointer;
  }
  
  .tech-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .tech-icon {
    font-size: 1.5rem; 
    margin-right: 1rem; 
  }
  
  .tech-card h3 {
    font-size: 1.1rem;
    margin: 0;
    text-align: left; 
  }