/* src/styles/TechFields.css */
.tech-fields {
    padding: 4rem 2rem;
    text-align: center;
    background: radial-gradient(
      circle farthest-side at 0% 50%,
      #282828 23.5%,
      rgba(255, 170, 0, 0) 0
    )
    21px 30px,
  radial-gradient(
      circle farthest-side at 0% 50%,
      #2c3539 24%,
      rgba(240, 166, 17, 0) 0
    )
    19px 30px,
  linear-gradient(
      #282828 14%,
      rgba(240, 166, 17, 0) 0,
      rgba(240, 166, 17, 0) 85%,
      #282828 0
    )
    0 0,
  linear-gradient(
      150deg,
      #282828 24%,
      #2c3539 0,
      #2c3539 26%,
      rgba(240, 166, 17, 0) 0,
      rgba(240, 166, 17, 0) 74%,
      #2c3539 0,
      #2c3539 76%,
      #282828 0
    )
    0 0,
  linear-gradient(
      30deg,
      #282828 24%,
      #2c3539 0,
      #2c3539 26%,
      rgba(240, 166, 17, 0) 0,
      rgba(240, 166, 17, 0) 74%,
      #2c3539 0,
      #2c3539 76%,
      #282828 0
    )
    0 0,
  linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
    #282828;
background-size: 40px 60px;
  }
  
  .tech-fields h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Slightly wider cards */
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tech-card {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the left */
    cursor: pointer;
  }
  
  .tech-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .tech-icon {
    font-size: 1.5rem; /* Smaller icon */
    margin-right: 1rem; /* Space between icon and text */
  }
  
  .tech-card h3 {
    font-size: 1.1rem;
    margin: 0;
    text-align: left; /* Align text to the left */
  }