.tech-fields {
    padding: 4rem 2rem;
    text-align: center;
 
  }
  
  .tech-fields h2 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tech-card {
    background-color: #000;
    
    padding: 1rem;
    border-radius: 10px;
      text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    cursor: pointer;
  }
  
  .tech-card:hover {
    box-shadow: 
    0 0 5px #e61dff, 
    0 0 10px #3cc7fa, 
    0 0 15px #857dfd, 
    0 0 20px #9d65fc;   }
  
  .tech-icon {
    font-size: 1.5rem; 
    margin-right: 1rem; 
  }
  
  .tech-card h3 {
    font-size: 1.1rem;
    margin: 0;
    text-align: left; 
  }